{% extends 'principal.html' %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
	<h1>Delete Item</h1>
    </div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
  <h2> Are you sure you want to delete {{items.item_name}}? </h2><br>
            <form action="{{url_for('DeleteItem', category_name = items.category.name, item_name = items.item_name)}}" method = 'POST'>
                <input type='submit', value = 'Delete'>
            <a href = "{{url_for('ShowItem',category_name = items.category.name, item_name = items.item_name)}}"> </a>
				        <input type='submit' value = 'Cancel'>
            </form>	
            </div>
{% endblock %}		
  