<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('AllCatalog')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Catalog App
		</a>
	</div>
	<div class="col-md-6 text-right">
					{% if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}">Logout </a>
			{% endif %}
			<br>
					{% if 'username' in session %}
			<a href="{{url_for('NewItem')}}"> Add Item </a>
			{% endif %}
		
		
	</div>
</div>